{
  "applicationName": "MOON42 Accounting Toolbox",
  "airtable": {
    "baseId": "appODavvV60uXOqnC",
    "recordTableId": "tblKKtw8kgNVfK4pa",
    "partnerTableId": "tblDAC6SuH7nBI1OP",
    "typeTableId": "tblxpOuxH7oWtlda8",
    "token": "<AIRTABLE TOKEN COMES HERE>"
  },
  "google": {
    "clientSecret": "credentials.json",
    "tokenDir": "tokens"
  }
}
